body{
    margin: 0px;
    padding: 0px;
}

#wrap{
    padding: 0px 0px 10px 0px;
}

header{
    background: url("./img/playa.jpg") center no-repeat;
    background-size: cover;
}

header div, footer div{
    display: inline-block;
}

#agencia{
    margin-left: 25%;
    margin-right: 24%;
}

h1{
    text-shadow: -1px 2px 5px;
    font-size: 4em;
    color: #00f;
}

.amarillo{
    color: #fa2;
}

.rojo{
    color: #f00;
}

.azul{
    color: #00f;
}

#login{
    border: 1px solid #555;
    padding: 0.8%;
    vertical-align: top;
    max-width: 26%;
    background-color: #cfdfdf;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 3%;
}

label{
    display: inline-block;
    text-align: left;
    min-width: 70px;
    margin: 4px;
    max-width: 100px;
}

button{
    display: inline-block;
    margin: 10px 4px 0px 4px;
    padding: 4px 8px;
}

button a{
    color: #000;
}

nav{
    text-align: center;
    background-color: #2b8a8f;
    padding-top: 30px;
}

ul{
    margin-bottom: 0px;
}

li{
    display: inline-block;
    padding: 10px 20px 0px 20px;
    margin: 0px 5px;
    border: 1px solid #2b8a8f;
    border-bottom-style: none;
    box-shadow: 0px -3px 20px #2b7a9b;
    border-radius: 10% 10% 0% 0%;
}

.actual{
    background-color: #2b7a9b;
    border: 1px solid #2b7a9b;
    border-bottom-style: none;
}

a{
    text-decoration: none;
    color: white;
}

main{
    padding: 5px 15px;
    text-align: center;
}

main figure{
    vertical-align: top;
    display: inline-block;  
    margin: 5px 5px;
    max-width: 40%;
}

.index{
    border: 1px solid #000;
    border-radius: 5%;
    box-shadow: -5px -5px 20px #2c2c2c;
    max-width: 30%;
}

.index:hover{
    box-shadow: -5px -5px 10px #0c0c0c;
}

.index p{
    text-align: center;
}

figure img{
    max-width: 100%;
    max-height: 400px;
    border-radius: 5%;
}

main p{
    width: 40%;
    text-align: justify;
    display: inline-block;
    margin: 5px;
}

footer{
    background-color: #7b7b7b;
}

footer figure{
    display: inline-block;
}

footer a{
    text-decoration: none;
    color: #f84;
}

footer p{
    display: inline-block;
    color: #ddd;
}

#ftizq{
    text-align: left;
}

#ftcentro{
    text-align: center;
    margin-left: 30%;
    margin-right: 40%;
}

#ftdrch{
    text-align: right;
}

.register form{
    margin: auto;
    width: 20%;
}

.register h1{
    font-size: 2em;
    text-align: left;
    margin: 0px 0px 10px 0px;
}

.register fieldset{
    border-style: none;
    padding: 20px 0px;
    text-align: left;
}

.register legend{
    font-size: 1.5em;
}

.register label, input{
    display: inline-block;
    margin: 3px 0px;
}

.register label{
    text-align: right;
    min-width: 110px;
}

.register button{
    margin-left: 110px;
    margin-bottom: 20px;
    color: #fff;
    border: 1px solid #189456;
    padding: 4px 6px;
    background-color: #1b1;
}

main fieldset{
    text-align: left;
    width: 98%;
    margin: auto;
    padding: 0px;
    display: inline-block;
}

main label{
    text-align: left;
    min-width: 35%;
    display: inline-block;
}

#area{
    display: inline-block;
    margin: 2% 18%;
}

main button{
    display: inline-block;
    margin: 2% 40%;
    background-color: #3e53af;
    color: #dfdfdf;
    border: 1px solid #22ad68;
}

.r_main, .c_main, .g_main{
    background-color: #e0e9e9;
    padding-top: 110px;
}

.contacto div, .contacto form{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #22ad68;
    background-color: #7882ad;
    color: #fdfdfd;
    width: 20%;
    margin: auto;
}

.g_main iframe{
    height: 500px;
    width: 700px;
    margin-top: 20px;
}

.g_main li{
    height: 80px;
    width: 130px;
    vertical-align: top;
}

.g_main img{
    width: 85%;
}