body{
    background-color: #cc9;
}

/* @media screen and (max-width: 500px) {
    body{
        background-color: #9ff;
    }
}

@media screen and (min-width: 700px) {
    body{
        background-color: #c99;
    }
} */