img:first-of-type{
    transform: rotate(-10deg);
}

img:nth-of-type(2){
    transform: skew(-20deg);
}

img:nth-of-type(3){
    transform: translate(40%, -20%);
}

img:last-of-type{
    transform: scale(-1.2);
}