div, header, nav, footer, article{
    border: 1px solid #000000;
}

.centrado{
    text-align: center;
}

header{
    height: 100px;
    background-color: #ff0000;
}

nav{
    height: 30px;
    background-color: #00ff00;
}

.enlinia{
    display: inline-block;
}

#foto1{
    width: 600px;
}

#txt1{
    width: 1000px;
}

#foto2{
    width: 600px;
}

#txt2{
    width: 1000px;
}

footer{
    height: 85px;
    background-color: #0000ff;
    color: #ffffff;
}