*{
    padding: 0;
    margin: 0;
    font-size: calc(10px + 1vw);
}

:root{
    background-image: url(./img/vox.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
}

html{
    cursor: url('./img/cursor.png'), auto;
}

body{
    width: 90%;
    margin: auto;
    padding: 5px;
    min-width: 320px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}

header{
    border: 1px solid #fafafa;
    display: flex;
    position: relative;
}

video{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 38%;
    width: 28%;
}

header div{
    flex: 1;
}

img{
    width: 100%;
    min-width: 100px;
}

h1{
    flex: 8;
    font-size: calc(11px + 1.5vw);
    text-align: center;
    align-self: center;
}

nav{
    display: flex;
    margin: 1% 0%;
    flex-wrap: wrap-reverse;
    position: sticky;
    top: 0;
}

nav div{
    border: 1px solid #fafafa;
    padding: 1%;
    background-color: #222;
    opacity: 0.8;
    flex: 1;
    min-width: 150px;
    margin-right: 1%;
}

nav>div>ul{
    display: flex;
}

nav>div>ul>li{
    list-style-type: none;
    flex: 1;position: relative;
}

nav>div>ul li>ul{
    position: absolute;
    overflow: hidden;
    max-height: 0px;
    top: 50px;
    left: 0px;
    max-width: 300px;
    box-shadow: 0px 2px 4px rgba(60, 60, 60, 0.6);
    transition: 0.8s;
}

nav>div>ul>li:hover{
    color: #adf;
}

nav>div>ul li:hover>ul{
    max-height: 300px;
    color: #fff;
    background-color: #222;
    padding: 10px;
}

nav>div>ul li:hover>ul>li:hover{
    color: #adf;
}

body>div{
    position: fixed;
    top: 8%;
    right: -150px;
    width: 40%;
    min-width: 150px;
    max-width: 190px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 6px;
    background-color: #333;
    opacity: 0.9;
    box-shadow: 0px 0px 5px #fff;
}

body>div:hover{
    right: 6%;
    transition: 2s;
}

body>div>input:hover{
    cursor: url('./img/PogChamp.png'), auto;
}

body>div input{
    max-width: 85px;
    margin: 1px;
}

main{
    border: 1px solid #fafafa;
    padding: 2%;
    min-width: 310px;
}

section:first-of-type{
    display: flex;
}

table{
    width: 100%;
}

figure{
    display: flex;
    border: 1px solid #fafafa;
    flex-wrap: wrap;
}

h2, h3{
    padding: 5px;
}

h2{
    font-size: calc(9px + 1.5vw);
}

h3{
    font-size: calc(8px + 1.5vw);
}

span{
    font-size: calc(4px + 0.8vw);
}

table{
    float: right;
}

table, th, td{
    border: 1px solid #fafafa;
    border-collapse: collapse;
    margin: 0.5%;
}

figure img{
    flex: 1;
    margin: 1%;
    align-self: center;
    border-radius: 12px;
    max-height: 380px;
}

footer{
    display: flex;
    border: 1px solid #fafafa;
    flex-direction: column;
    padding: 3%;
    text-align: right;
    margin: 2% 0%;
}

a{
    color: #fafafa;
    text-decoration: none;
    font-size: calc(10px + 1vw);
}

a:hover{
    background: -webkit-linear-gradient(#fcfcfc, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer p:last-child, a{
    font-size: calc(4px + 0.8vw);margin-top: 2px;
}