main{
    grid-area: m;
    display: grid;
    grid-template-areas: 
        'f1 f2'
        'f3 f4'
        'f5 f6'
        'f7 f8'
        'f9 .'
    ;
    padding: 1%;
    justify-content: space-around;
}