#wrap{
    width: 800px;
    padding: 10px;
    margin: auto;
    height: 910px;
}

header, nav, main, footer{
    border: 1px solid #000000;
    margin: 2px;
}

header{
    padding: 0px;
}

#logo, #titulo, #login{
    display: inline-block;
    vertical-align: middle;
}

#logo{
    border: 1px solid #000000;
    height: 80px;
    width: 80px;
    margin: 0px 0px 15px 10px;
    padding: 0px;
}

#logo p{
    text-align: center;
    position: relative;
    margin: 30px 0px;
}

#titulo{
    padding: 2px 130px 2px 123px;
}

#login{
    border: 1px solid #000000;
    margin: 5px 0px;
    padding: 10px 3px 5px 5px;
}

#login p, #login input{
    display: inline-block;
}

.user{
    margin-left: 32px;
}

#login button{
    margin-left: 90px;
    padding: 5px 10px;
}

nav{
    text-align: right;
}

ul, li{
    display: inline-block;
    position: relative;
    margin: 20px 5px 4px 5px;
}

nav button{
    padding: 2px 8px;
}

main{
    padding: 15px;
}

.section2{
    display: inline-block;
}

.section2 figure{
    display: inline-block;
    border: 1px solid #000000;
    height: 90px;
    width: 90px;
    margin: 0px;
}

.section2 img{
    display: inline-block;
}

.section2 p{
    display: inline-block;
    width: 330px;
}

.section3{
    display: inline-block;
    vertical-align: top;
}

table{
    height: 220px;
    width: 400px;
}

table, th, tr, td{
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 5px 5px 5px 2px;
}

th{
    background-color: #8b8b8b;
    text-align: left;
    padding-right: 15px;
}

.th3{
    padding-right: 80px;
}

.section4{
    padding: 10px 0px 0px 20px;
}
.section4 figure{
    display: inline-block;
    border: 1px solid #000000;
    height: 90px;
    width: 90px;
    margin: 2px;
}

.section4 img{
    display: inline-block;
}


footer{
    text-align: right;
    padding: 20px 5px 5px 5px;
}

footer p{
    margin: 0px;
}